@import "tailwindcss";

@theme {
  /* Colors from style-guide.md */
  --color-lime: hsl(61, 70%, 52%);
  --color-red: hsl(4, 69%, 50%);
  --color-white: hsl(0, 0%, 100%);
  --color-slate-100: hsl(202, 86%, 94%);
  --color-slate-300: hsl(203, 41%, 72%);
  --color-slate-500: hsl(200, 26%, 54%);
  --color-slate-700: hsl(200, 24%, 40%);
  --color-slate-900: hsl(202, 55%, 16%);

  /* Custom Font Family */
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('../assets/fonts/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
  font-weight: 500 700;
  font-style: normal;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('../assets/fonts/PlusJakartaSans-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 500 700;
  font-style: italic;
}

:root {
  font-family: var(--font-jakarta);
  background-color: var(--color-slate-100);
  color: var(--color-slate-900);
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}