@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Colors dari style-guide.md */
  --color-bg-light: hsl(0, 0%, 98%);
  --color-text-light: hsl(200, 15%, 8%);
  --color-elements-light: hsl(0, 0%, 100%);
  --color-input-light: hsl(0, 0%, 52%);

  --color-bg-dark: hsl(207, 26%, 17%);
  --color-text-dark: hsl(0, 0%, 100%);
  --color-elements-dark: hsl(209, 23%, 22%);

  --font-nunito: "Nunito Sans", sans-serif;
}

:root {
  font-family: var(--font-nunito);
}

body {
  margin: 0;
  min-height: 100vh;
}
